/* LAYOUT */

.container{
	background: #0FF;
	margin: 0 auto;
	width: 90%; /* 960px  DON'T USE 100% IN THE CONTAINER, BUT YOU CAN IN EVERYTHING ELSE*/
	max-width: 960px;
}

nav{
	background: #FFC;
	clear:both;
	width: 100%; /* 960px */
}

article{
	background: #FCF;
	float: left;
	width: 66.66666666%; /* 640px / 960px= 66.6666666 */
}

aside{
	background: #660;
	float: left;
	width: 33.33333333%; /* 320px / 960px= 33.333333*/
}

footer{
	background: tomato;
	clear: both;
	width: 100%; /* 960px */
}

/* Typography */

h1{
	font-size: 3em; /* 48px/16=3em */
}

h2{
	font-size: 2.25em; /* 36px/16=2.25em */
}

h3{
	font-size: 1.5em; /* 24px/16=1.5em */
}

p{
	font-size: 1.25em; /* 20px/16=1.25em */
	line-height: 1.25em; /* 20px/16=1.25em */
}

/* ALL LINKS */

a{
	color: #a10022;
	font-size: 1.25em;
}

footer a{
	font-size: 1em; /* 20px/20px=1em */
}



/* DESKTOP */

@media screen and ( max-width: 1024px ) {
	body{
		background: red;
	}
	
} /* END OF DESKTOP */



/* TABLET */

@media screen and ( max-width: 768px ) {
	body{
		background: green;
	}
	
} /* END OF TABLET */



/* PHONE */

@media screen and ( max-width: 480px ) {
	body{
		background: blue;
	}
	
	aside{
		float: none;
	}
	
} /* END OF PHONE */